:root {
  --primary-red-200: hsl(356, 100%, 66%);
  --primary-red-100: hsl(355, 100%, 74%);
  --primary-blue-500: hsl(208, 49%, 24%);
  --footer-text-gray-blue-300: hsl(240, 2%, 79%);
  --footer-body-copy-gray-blue-500: hsl(207, 13%, 34%);
  --footer-background-black-blue-500: hsl(240, 10%, 16%);
}

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Overpass", "Ubuntu";
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
  color: var(--primary-blue-500);
}
/* Start of header section */
header {
  background-image: url("/images/bg-pattern-intro.svg"),
    linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
  border-bottom-left-radius: 100px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
}

.introduction {
  margin: auto;
  padding: 40px 100px;
}
/* Start of navbar */
.nav-buttons a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.drop-list-links a {
  color: var(--primary-blue-500);
}

.drop-list {
  display: none;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  list-style-type: none;
  margin-top: 0.5em;
}

.drop-list li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.drop-list li:hover a {
  color: var(--primary-red-100);
}

.nav-buttons a:focus .nav-arrow {
  transform: rotate(180deg);
}

.drop-list-links {
  padding: 1em 2em;
}

.nav-buttons a:focus + ul {
  display: inherit;
}

.nav-buttons:nth-last-child(2) {
  margin-left: auto;
}

.sign-in-button {
  background-color: transparent;
  border: none;
  border-radius: 100px;
  padding: 10px 35px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.sign-in-button:hover {
  background-color: white;
  color: var(--primary-red-100);
}

.sign-up-button {
  border: 1px solid white;
  border-radius: 100px;
  padding: 10px 30px;
  color: var(--primary-red-100);
  font-weight: bold;
  cursor: pointer;
}

.sign-up-button:hover {
  background-color: var(--primary-red-100);
  color: white;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3em;
}
/* End of navbar */
/* Start of header intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0em;
  text-align: center;
  color: white;
}

.intro-text h1 {
  padding-bottom: 0.5em;
  font-size: 60px;
  color: white;
}

.intro-text p {
  padding-bottom: 2em;
  font-size: 22px;
  color: white;
}

.intro-actions{
  gap: 20px;
}

.intro-actions button {
  border: 1px solid white;
  cursor: pointer;
  margin: 0px 10px;
}

.intro-button-start {
  background: white;
  color: var(--primary-red-200);
  padding: 0.7em 1em;
  border-radius: 100px;
}

.intro-button-learn {
  color: white;
  background: transparent;
  padding: 0.7em 1em;
  border-radius: 100px;
}

.intro-button-start:hover {
  background: var(--primary-red-100);
  color: white;
}

.intro-button-learn:hover {
  background: white;
  color: var(--primary-red-200);
}
/* End of header intro */
/* End of header section */

/* Start of main */
/* Start of the first section "Designed for the future" */
section {
  margin-top: 100px;
}

.designed-for-the-future h2 {
  font-size: 50px;
  text-align: center;
}

.design-info-section {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  column-gap: 200px;
}

.design-info-img {
  background-image: url(images/illustration-editor-desktop.svg);
  background-repeat: no-repeat;
  width: 1000px;
  height: 850px;
  background-size: 1000px 1000px;
  background-position: 300px -150px;
}

.design-info-text {
  max-width: 600px;
  margin-left: 100px;
}

.design-info-text h3 {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.design-info-text p {
  font-size: 18px;
  margin-bottom: 200px;
  text-align: justify;
}
/* End of the first section "Designed for the future" */

/* Start of the Second section "State of the Art Infrastructure" */
.state-of-the-art-infrastructure{
  background-image: url(images/bg-pattern-circles.svg),
  linear-gradient(100deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-size: 1500px 1500px, cover;
  background-position: -100% 80%;
  border-radius: 0 100px 0 100px;
}
.state-info-section{
  display: flex;
  flex-wrap: wrap;
}
.state-info-img{
  position: relative;
  background-image: url(images/illustration-phones.svg);
  background-repeat: no-repeat;
  background-size: 500px 500px;
  width: 500px;
  height: 500px;
  height: -100px;
  margin-left: 200px;
  background-position: 0% -20%;
}
.state-info-text{
  max-width: 550px;
  align-self: center;
  margin-left: 200px;
}

.state-info-text h3{
  font-size: 40px;
  color: white;
}

.state-info-text p{
  font-size: 18px;
  text-align: justify;
  color: white;
  margin-top: 20px;
}
/* End of the Second section "State of the Art Infrastructure" */

/* Start of the Third section "Free, open, simple" */
.fos-info-section{
  display: flex;
  flex-wrap: wrap;
  column-gap: 300px;
}
.fos-info-img{
  background-image: url(images/illustration-laptop-desktop.svg);
  background-repeat: no-repeat;
  width: 650px;
  height: 800px;
  background-position: 85% 0%;
}

.fos-info-text{
  max-width: 600px;
  align-self: center;
  text-align: justify;
}
.fos-info-text h3{
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.fos-info-text p{
  font-size: 18px;
}
/* End of the Third section "Free, open, simple" */

/* Start of footer */
footer{
  background-color: var(--footer-background-black-blue-500);
  border-radius: 0 100px 0 0;
  padding: 50px 200px 50px 200px;
}

.footer-buttons a{
  text-decoration: none;
  color: white;
  list-style-type: none;
}

.footer-buttons a:hover{
  text-decoration: underline;
}

.footer-nav{
  display: flex;
  flex-wrap: wrap;
  column-gap: 300px;
  list-style-type: none;
}

.footer-nav li,
.footer-nav h4{
  color: white;
  list-style-type: none;
  padding-top: 10px;
}

.attribution{
  margin-top: 20px;
  text-align: center;
}

.attribution,
.attribution a{
  color: white;
}
/* End of footer */